
.DS_Store
Flash Chat iOS13.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Flash Chat iOS13.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Flash Chat iOS13.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Flash Chat iOS13.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
Flash Chat iOS13.xcodeproj/xcuserdata/geryjsumual.xcuserdatad/xcschemes/xcschememanagement.plist
Flash Chat iOS13.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Flash Chat iOS13.xcworkspace/xcuserdata/geryjsumual.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/geryjsumual.xcuserdatad/xcschemes/xcschememanagement.plist
